/* ? Css fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap");

/* * simple styling */
html,
body {
    font-family: "Poppins";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #333333;
    font-size: 16px;
}

html {
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* * Root */
:root {
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    --blue-50: #eff6ff;
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
    --primary-color: #5924ed;
    --secondary-black: #0d081a;
    --secondary-gray: #48464b;
    --body-bg: #efebfa;

    --grey: #242b2e;
    --main: #102a42;
    --input-clr-bg: #f8f5f5;
    --orange-light: #ffaf19;
    --primary-design: #60dbfb;
    --black-design: #0d0d0d;
    --grey-design: #eff0f3;
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: rgb(247, 8, 28);
    --orange: #eb520cbe;
    --green-light: #d1e7dd;
    --green-dark: #0b9e59e8;
    --yellow: #f0db51;
    --yellow-light: #f8e881;
    --yellow-dark: #6b5d00;
    --clr-pink: #f28ab2;
    --gold-clr: #fad91be1;
    --green: #45ee02;
    --blue: hsl(207, 95%, 60%);

    /* * shadows */
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
